header 
    {
    color: ghostwhite;
    position:relative;
    background-color: black;
    text-align: center;
    text-size-adjust:600px;
}
h1
   {
       color:darkmagenta;
       font-family: cursive;
       text-shadow: darkorange;
       text-align: center;
}
body
    {
        

}